<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-header">help_page</div>

<div class="panel-body">


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_help_page_path(@help_page) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', help_pages_path , class:"btn btn-xs btn-danger" %>